fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]
google-generativeai
langchain-google-genai
langchain-text-splitters
langchain-community
langchain
langgraph
chromadb
PyMuPDF
python-docx
python-pptx
pytesseract
pandas
openai-whisper
gTTS
python-dotenv
aiofiles
librosa
soundfile
supabase
matplotlib
